:root {
    --primary-color: #e08029;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/***********************************************/

hr{
    border: none;
    width: 78px;
    background-color: var(--primary-color);
    height: 2px;
}

.page-title{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 28px;
}


.part4-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.part4-picture-container{
    padding-left: 300px;
    margin-right: 90px;
}

.part4-picture-container img{
    width: 200px;
}

.part4-info{
    max-width: 30%;
}

.part4-list-item{
    display: flex;
    margin: 20px 0;
    font-size: 17px;
}

.part4-list-item-index{
    border: 1px solid var(--primary-color);
    width: 51px;
    height: 51px;
    border-radius: 50%;
    text-align: center;
    line-height: 51px;
    margin-right: 24px;
}

.part4-list-item-description{
    max-width: 70%;
}

.part1{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar{
    display: flex;
    padding: 18px 180px 0px 220px ;
    justify-content: space-between;
}

.navbar-logo img{
    width: 100px;
}

.navbar-items{
    display: flex;
    width: 640px;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
}

.navbar-item a{
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.header{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.header h1{
    font-size: 46px;
    font-weight: 400;
    color: #fff;
    margin-top: -50px;
}

.buttons{
    margin-top: 25px;
    display: flex;
}

.button{
    padding: 16px 24px;
    background-color: var(--primary-color);
    margin-right: 12px;
    border-radius: 36px;
    
}

.button a{
    color: #fff;
    text-decoration: none;
}

.button.non-active{
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.button.non-active a{
    color: var(--primary-color);   
}










